@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --almost-white: hsl(0, 0%, 98%);
    --m-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

body {
    background-color: var(--almost-white);
    min-height: 100vh;
    position: relative;
}

header {
    background-color: var(--almost-white);
    padding: 20px 50px;
    display: flex;
    gap: 40px;
    width: 100%;
    color: var(--m-gray);
    position: relative;
    z-index: 55;
}

.snap-logo {
    transform: translateY(30%);
}

nav {
    flex: 1;
    display: flex;
    gap: 40px;
    z-index: 60;
}

nav a {
    text-decoration: none;
    color: var(--m-gray);
}

.page-links,
.account-links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.dropdiv {
    display: flex;
    align-items: center;
    gap: 20px;
}

.account-links {
    margin-left: auto;
}

.feature-dropdown ul li::before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-dropdown ul li:nth-child(1)::before {
    background-image: url('./images/icon-todo.svg');
}

.feature-dropdown ul li:nth-child(2)::before {
    background-image: url('./images/icon-calendar.svg');
}

.feature-dropdown ul li:nth-child(3)::before {
    background-image: url('./images/icon-reminders.svg');
}

.feature-dropdown ul li:nth-child(4)::before {
    background-image: url('./images/icon-planning.svg');
}

.dropdown {
    position: relative;
}

.dropdown ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.feature-dropdown,
.company-dropdown {
    position: absolute;
    width: max-content;
    display: none;
    top: 0;
    z-index: 90;
}

.feature-dropdown {
    left: -50px; 
}

.company-dropdown {
    left: -10px;
}

.feature-dropdown ul,
.company-dropdown ul {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
}

.register-link {
    padding: 10px 30px;
    border: 1px solid var(--m-gray);
    border-radius: 5px;
}

.page-links *:hover,
.account-links *:hover {
    color: var(--almost-black);
    cursor: pointer;
}

.dropdown:hover .feature-dropdown {
    display: block;
}

.dropdown:hover .company-dropdown {
    display: block;
}

.dropdown:hover .dropdiv img {
    content: url('./images/icon-arrow-up.svg');
}

.feature-dropdown a:hover,
.company-dropdown a:hover {
    color: var(--almost-black);
}

main {
    display: flex;
    width: 80%;
    margin: 10px auto;
    min-height: 80vh;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    position: relative;
    padding-right: 100px;
}

section h1 {
    font-size: 4rem;
}

section p {
    color: var(--m-gray);
    line-height: 150%;
}

section .learn-more-link {
    background-color: var(--almost-black);
    padding: 20px 40px;
    width: max-content;
    border-radius: 5px;
}

section .learn-more-link a {
    text-decoration: none;
    color: var(--almost-white);
}

section .client-logo-row {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100vw;
    padding-right: 100px;
    justify-content: space-evenly;
}

section .client-logo-row .client-logo {
    max-width: 20%;
    height: auto;
}

.herodiv {
    flex: 1;
    background-image: url(./images/image-hero-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.menu-closed {
    content: url("./images/icon-menu.svg");
}

.overlay {
    position: absolute;
    visibility: hidden;
    width: 100vw;
    height: 100%;
    background-color: grey;
    opacity: 0;
    top: 0;
    z-index: 50;
    transition: all .5s linear;
}

.overlay.overlayshow {
    visibility: visible;
    opacity: .5;
}

@media screen and (max-width: 1150px) {
    main {
        flex-direction: column-reverse;
        width: 100vw;
        align-items: center;
    }

    .herodiv {
        background-image: url(./images/image-hero-mobile.png);
        background-size: contain;
        flex: none;
        width: 50%;
        height: 50vw;
    }

    section {
        align-items: center;
        padding: 0 10vw;
        text-align: center;
    }

    section .client-logo-row {
        position: static;
        bottom: auto;
    }
}

@media screen and (max-width: 900px) {

    html,
    body {
        contain: paint;
    }

    main {
        position: relative;
        z-index: -10;
    }

    .mobile-menu {
        display: block;
        margin-left: auto;
        z-index: 100;
    }

    header nav {
        position: absolute;
        flex-direction: column;
        background-color: var(--almost-white);
        right: 0;
        top: 0;
        gap: 30px;
        min-height: 100vh;
        padding: 80px 30px 20px 20px;
        transform: translateX(100%);
        opacity: 0;
    }


    header nav.slidein {
        transform: translateX(0%);
        opacity: 1;
        transition: all .5s linear;
    }

    header nav.slideout {
        transform: translateX(100%);
        opacity: 0;
        transition: all .5s linear;
    }

    .page-links,
    .account-links {
        flex-direction: column;
        gap: 20px;
    }

    .page-links {
        margin-top: 20px;
        align-items: start;
    }

    .feature-dropdown,
    .company-dropdown {
        display: block;
        position: static;
        max-height: 0;
        opacity: 0;
        transition: max-height .25s linear, opacity .1s linear;
    }

    .feature-dropdown.expand {
        max-height: 161px;
    }

    .company-dropdown.expand {
        max-height: 124px;
    }

    .feature-dropdown.expand,
    .company-dropdown.expand {
        opacity: 1;
    }

    .feature-dropdown ul,
    .company-dropdown ul {
        padding: 20px;
        background-color: inherit;
        border-radius: 0;
        margin-top: 0;
    }

    .dropdown:hover .dropdiv img {
        transform: none;
    }

    .dropdiv img.rotate {
        content: url('./images/icon-arrow-up.svg')
    }

    section .client-logo-row {
        padding-right: 0px;
    }
}

@media screen and (max-width: 600px) {

    header {
        position: sticky;
        top: 0;
        left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .herodiv {
        width: 100vw;
        height: 100vw;
    }

    section {
        width: 100vw;
        padding: 20px 10px;
    }

    section .client-logo-row {
        padding-right: 0;
    }

}