@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--red);
    background-image: url('./images/bg-intro-desktop.png');
    background-repeat: repeat-y;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 960px;
    margin: 80px 20px;
    display: flex;
    gap: 40px;
}

.content-wrapper {
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.content-wrapper > h1 {
    font-size: 2.5rem;
    line-height: 120%;
}

.signup-wrapper {
    flex: 1;
}


.signup-wrapper > p {
    width: 100%;
    text-align: center;
    color: white;
    background-color: var(--blue);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.signup-wrapper > p > span {
    font-weight: 600;
}

form {
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.input-field-wrapper input {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid var(--grayish-blue);
    border-radius: 5px;
    color: var(--dark-blue);
    font-weight: 600;
}

.input-field-wraper input:focus {
    outline: none !important;
    border-color: var(--dark-blue);
}

.input-field-wrapper input::placeholder {
    color: var(--grayish-blue);
}

.input-field-wrapper input.invalid-input {
    border-color: var(--red);
}

.input-field-wrapper {
    width: 100%;
    position: relative;
}

.input-field-wrapper > .input-error {
    position: absolute;
    width: auto;
    background-color: var(--red);
    padding: 5px;
    font-size: .8rem;
    text-align: right;
    color: white;
    border-radius: 5px;
    right: 0px;
    top: 0px;
    display: none;
}

.input-error.error-display {
    display: block;
}

form button {
    padding: 15px 20px;
    width: 100%;
    background-color: var(--green);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    transition: all .05s linear;
}

form button:hover {
    cursor: pointer;
}

form button:active {
    transform: scale(.99);
}

form p {
    font-size: .7rem;
    color: var(--grayish-blue);
    text-align: center;
}

form p span {
    color: var(--red);
    font-weight: 600;
}

@media screen and (max-width: 700px) {
    
    .container {
        flex-direction: column;
    }

    .content-wrapper {
        text-align: center;
    }

    .content-wrapper > h1 {
        font-size: 2rem;
    }

    .signup-wrapper > p {
        padding: 20px 40px;
    }

}